@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: screen;
    --tw-bg-opacity: 1;
    background-color: rgba(254, 243, 199, var(--tw-bg-opacity));
    scroll-behavior: smooth;
    overflow-anchor: none;
}
